.bordasredondas{
    border-radius: 10px 10px 10px 10px;
    width: 5%;
    padding-top: 10px;
    padding-left: 10px;
    height: auto !important;    
}
.topo{
    width: 90%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto !important;
    
}
.passeios{
    width: 30%;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;  

        
}