.logo {
    position: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #1d1c1c;
    position: fixed;
    top: 0;
    width: 90%;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 0px;
 
    
    
  }

li {
    display: inline;
    float: left;
  }


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
li a:hover {
    background-color: #5e5d5d;
    
  }

.topo{
    width: 98%;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    height: auto !important;
    
}

.passeios{
    width: 260;
    height: 172;
    padding-top: 20px;
    margin: 5px;

}
.abaixo {
    padding: 15px;
    text-align: center;

}

.vida{
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: center;

}

.blococinza {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(199, 196, 196, 0.822);
    text-align: center;
}
.clientes {
    font-size: 40px;
}
div.fundo {
    background-color: #6750A4;
    padding: 25px;    
}