@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap');

/*Menu começa*/
* {
    margin: 0;
    padding: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

nav{
    background-color: black;
}

.imagens-icones {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;

}
.imagens-icones h4{
    color: #FFFFFF;
}
.btn-primary{
    padding-top: 5px;
    background-color: #ffffff;
    color: #293495;
    background: var(--Azul-00, #F8F8FF);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

}

.nav-pills .nav-link.active{
    background-color: #293495;
}

a{
    color: white;
}

a:hover{
    color: white;
}

.nav-item {
    padding-left: 10px;
}

/*Menu Termina*/


div .imga {
    width: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 40px;
}

section.galeria {
    column-count: 3;
    padding-left: 40px
}

.img {
    width: 360px;
    height: 272px;
    padding-left: 20px;
}

div.flex {
    border-style: solid 1px;
    padding-left: 5px;
    padding-bottom: 30px;
}

div.coluna {
    column-count: 3;
}

h4 {
    padding: 8px;
   
    
}

p {
    padding: 10px;
    display: flexbox;

}

.botao {
    padding-top: 5px;
    background-color: #ffffff;
    color: #293495;
    background: var(--Azul-00, #F8F8FF);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

}
.cadastro  {
    padding-top: 5px;
    background-color: #ffffff;
    color: #293495;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

}

.cadastro:hover {
    cursor: pointer;
}
.text-back {
    color: #293495;
    font-size: 50px;

}

.colaborador {
    font-size: 50px;
    font-family:  Roboto;
   

}

section.vidas {
    padding-top: 150px;
    padding-left: 90px;
    padding-right: 100px;
    columns: 2;
}

div.trio-imagens {
    justify-content: left;
    transform: translate3d(10deg)
}

h1 {
    text-align: center;
    padding-top: 50px;
    color: rgba(41, 52, 149, 0.88);
    font-family: Roboto;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;

}

section.background {
    background: var(--Azul-000, #b8bacf93);
    width: 1440px;
    height: 553px;
    text-align: center;
    column-count: 1;
    margin-top: 40px;
    color: #293495;
    
}
.comunidade {
    padding-left: 90px;
    padding-top: 30px;
    color: rgba(41, 52, 149, 0.88);

}
.comunidade img{
    padding-top: 30px;
    padding-bottom: 80px;

}

h4 {
    text-align: center;
    padding-top: 10px;
    color: var(--cinza-300, #757373);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}


.new {

    border-radius: 2px 100px;
    background: var(--Azul-00, #F8F8FF);
    columns: 2;
    color: rgba(41, 52, 149, 0.88);

}

.new h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 40px;
    color: rgba(41, 52, 149, 0.88);

}

.new h4 {
    text-align: left;
    font-size: 12px;
    padding-left: 40px;

}

.h2 {
    padding-left: 40px;

}

.h6 {
    padding-top: 10px;
    padding-left: 40px;
}

.enviar {
    width: 200px;
}

.form {
    padding-left: 40px;
}

/*rodapé */
footer {
    background-color: rgb(15, 54, 182);
}

.rodape{  
    
    background-color: rgba(40, 50, 141, 0.88);
    text-decoration: none;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    
    "rodapeEsquerdo rodapeDireito"
    ;
}

.rodapeEsquerdo{
    grid-template-areas: rodapeEsquerdo;
    display:block;
    text-align: center;
}

.rodapeDireito{
    grid-template-areas: rodapeDireito;
    display: flex;    
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.rodapeDireito a{
    padding-left: 20px;
}
.rodape a{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.baixoMenu{
    width: 100%;
    height: 60px;
}

.legenda {
    position: relative;
    text-align: center;
    font-size: 100px;
    bottom: 400px;
    color: #ffffff;
}

.link1 {
    
}


/*area da Maressa*/

.login-e-cadastro-box {
    width: 35%;
    height: fit-content;
    padding: 70px;
    background-color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    margin:  auto;
    margin-bottom: 5%;
    padding: 50px;

    
    
}

.logo-top {
    text-align: left;
    width: 25%;
    padding-bottom: 5%;
}
    

.BotaoRedondoSetaEsquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    ;
}


.BotaoBranco {
    width: 90%;
    height: 35px;
    color: #49454F;
    background-color: white;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    font-weight: bold;
    align-items: center;
    border-radius: 100px;
    color: #49454F;
    margin: 16px;
    text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 20px; 
align-items: center;
}

.BotaoRoxoTextoBranco {

    border-radius: 100px;
background: rgba(41, 52, 149, 0.88);
width: 90%;
height: 35px;
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
margin: 16px;


}
 
.Label-Politica {
    color: var(--m-3-sys-light-on-surface-variant, #49454F);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
width: 80%;
margin-left: 30px;
margin-right: 30px;
}
.icone-google {
    align-items: center;
    margin-right: 8px;
}

.input-padrão {

    width: 100%;
    height: 35px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    text-align: center;
    color: #49454F;
    margin-bottom: 16px;
    font-family: Roboto;
    font-weight: lighter;
    align-self: center;
    }
    
.input-label {
        font-size: 14px;
        color: #49454F;
        font-family: Roboto;
        text-align: left;

    }
    

    .BotãoTextoRoxo {
background-color: white;
        color: rgba(41, 52, 149, 0.88);
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: center;

    }


a { color: inherit;
font: inherit;
font-size: inherit;
font-family: inherit;
font-size: inherit;

}

/*Fim da area da Maressa*/